[submodule "Source/ThirdParty/asio"]
	path = Source/ThirdParty/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "Source/ThirdParty/fmt"]
	path = Source/ThirdParty/fmt
	url = https://github.com/fmtlib/fmt
